<div class="box">
  <% if post.is_blog? == false && post.image? %>
    <%= link_to (image_tag post.image_url(:medium).to_s), post %>
  <% else %>
  	<div class="panel-heading">
      <h3><%= link_to post.title, post %></h3>
  <% end %>
</div>